<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Produtos</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <h2>Lista de Produtos</h2>

        <table>
            <tr>
                <th>Nome</th>
            </tr>
            <tr th:each="produto: ${produtos}">
                <td th:text="${produto.nome}">Nome</td>
            </tr>
        </table>
    </body>
</html>
